### General Configuration ###
PORT=3001

### Access Control Settings ###
# Set PUBLIC_MODE to true to allow public access without authentication.
# if set to false, an AUTH_PASSWORD would be required in an Authorization header
PUBLIC_MODE=true
AUTH_PASSWORD=nopassword