### General Configuration ###
PORT=3001

### Access Control Settings ###
# Set PUBLIC_MODE to true to allow public access without authentication.
# if set to false, an AUTH_PASSWORD would be required in an Authorization header
PUBLIC_MODE=true
AUTH_PASSWORD=nopassword

# CORS_WHITELIST can be a comma-separated list e.g.: http://localhost:3000,https://example.com
# CORS_WHITELIST=https://example.com # Uncomment to enable


### Cache Settings ###
# Set CACHE_HISTORY to true to keep historical cache entries instead of replacing them
# When true, new cache entries will be created with newer dates instead of replacing existing ones
CACHE_HISTORY=true